# generated source code
rpkimancer/asn1/mod/_mod.py

# generated documentation sources
docs/generated/

# build outputs
*.egg-info/
build/
dist/

# execution artifacts
.venv/
target/
__pycache__

# test artifacts
.tox/
.coverage
coverage.xml
.pytest_cache/
.mypy_cache/
