sphinx==6.0.1

# sphinx extensions
myst-parser==0.18.0
sphinx-multiversion @ git+https://github.com/samtygier-stfc/sphinx-multiversion.git@prebuild_command#egg=sphinx-multiversion

# sphinx theme
sphinx-readable-theme==1.3.0

# oid registry parsing
PyYAML==6.0

# constraints
-c constraints-docs.txt
