sphinx>=3.5.4, <4.0

# sphinx extensions
myst-parser
sphinx-autodoc-typehints
sphinx-multiversion @ git+https://github.com/samtygier-stfc/sphinx-multiversion.git@prebuild_command#egg=sphinx-multiversion

# sphinx theme
sphinx-readable-theme
