sphinx==3.5.4

# sphinx extensions
myst-parser==0.15.0
sphinx-multiversion @ git+https://github.com/samtygier-stfc/sphinx-multiversion.git@prebuild_command#egg=sphinx-multiversion

# sphinx theme
sphinx-readable-theme==1.3.0
